# Persistence Handler Go Configuration

database:
  path: "db/demo_api.db"

network:
  centrifugo:
    enabled: true
    url: "ws://localhost:8010/connection/websocket"
  mqtt:
    enabled: false
    url: "tcp://localhost:1883"

server:
  port: 8080
